
    <footer class="pie-de-pagina">
    <div class="informacion-general">
        <h5>Ingeniería del Software 3</h5>
        <p>Este curso profundiza en los principios y prácticas avanzadas
            de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
        <h5>Desarrollado por: Ruben Ocampos</h5>
    </div>
    <div class="enlaces">
        <a href="git@gitlab.com:Ruben377/02-y-12700-motor-plantillas.git">Repositorio GitLab</a>
    </div>
</footer>

